*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: whitesmoke;
}

.top {
    height: 50vh;
    width: 100vw;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: 0 15vw;

    .rectangulo {
        background-color: lightsalmon;
        height: 10vh;
        width: 60vh; 
        display: flex;
        flex-direction: column;
        position: relative;
        margin-top: 10vh;

        .renglon1 {
            background-color: aliceblue;
            height: 2.5vh;
            width: 55vh;
            display: flex;
            position: absolute;
            top: 50%; /* Centrado verticalmente */
            left: 50%; /* Centrado horizontalmente */
            transform: translate(-50%, -50%); /* Ajuste final para centrar completamente */
        }
    }

    .cuadrado {
        background-color: dimgrey;
        height: 10vh;
        width: 10vh;
        display: flex;
        flex-direction: column;
        position: relative;
        margin-top: 10vh;
    }

    .renglones-container {
        display: flex;
        justify-content: space-evenly; /* Distribuye los renglones con el mismo espacio entre ellos */
        width: 100%;  /* Asegura que el contenedor ocupe el 100% del ancho */
        position: absolute;
        top: 33vh;  /* Alinea verticalmente los renglones */
        align-items: center;  /* Alinea los renglones al centro verticalmente */
    }
    
    .renglon2, .renglon3, .renglon4, .renglon5 {
        background-color: darkgray;
        height: 2vh;
        width: 20vw;
        display: flex;
    }
}


.middle {
    background-color: powderblue;
    height: 40vh;
    width: 100vw;
    display: flex;
    align-items: flex-start;
    justify-content: space-between; /* márgenes iguales */
    padding: 0 15vw;

    .cuadrado {
        background-color: steelblue;
        height: 30vh;
        width: 30vh;
        display: flex;
        margin-top: 5vh;  
        flex-direction: column; 
        justify-content: flex-start; 

        .item1 {
            background-color: lightskyblue;
            height: 2vh;
            width: 2vh;
            display: flex;
            position: absolute;
            margin-top: 5vh;
            margin-left: 5vh;
        }
        .renglon1 {
            background-color: aliceblue;
            height: 2vh;
            width: 16vh;
            display: flex;
            position: absolute;
            margin-top: 5vh;
            margin-left: 10vh;
        }

        .item2 {
            background-color: lightskyblue;
            height: 2vh;
            width: 2vh;
            display: flex;
            position: absolute;
            margin-top: 10vh;
            margin-left: 5vh;
        }
        .renglon2 {
            background-color: aliceblue;
            height: 2vh;
            width: 16vh;
            display: flex;
            position: absolute;
            margin-top: 10vh;
            margin-left: 10vh;
        }
    }

    .rectangulo {
        background-color: dimgrey;
        height: 5vh;
        width: 80vh;
        display: flex;
        flex-direction: column;
        position: relative;
        margin-top: 5vh;

        .renglon3 {
            background-color: aliceblue;
            height: 1.5vh;
            width: 80vh;
            display: flex;
            position: absolute;
            margin-top: 7vh;
        }

        .renglon4 {
            background-color: aliceblue;
            height: 1.5vh;
            width: 80vh;
            display: flex;
            position: absolute;
            margin-top: 11vh;
        }
        .renglon5 {
            background-color: aliceblue;
            height: 1.5vh;
            width: 50vh;
            display: flex;
            position: absolute;
            margin-top: 15vh;
            margin-left: 15vh;
        }
    }
}

.bottom {
    height: 60vh;
    width: 100vw;
    display: flex;
    align-items: center;
}